{
  "extends": "airbnb-base",
  "globals": {
    "angular": 1
  },
  "rules": {
    "indent": ["error", 2],
    "wrap-iife": ["error", "inside"],
    "new-cap": 0,
    "no-use-before-define": 0
  }
}
