{
  "plugins": ["jasmine"],
  "extends": ["airbnb-base", "plugin:jasmine/recommended"],
  "globals": {
    "angular": 1
  },
  "rules": {
    "indent": ["error", 2],
    "no-use-before-define": 0,
    "consistent-return": 0,
    "new-cap": 0,
    "import/prefer-default-export": 0
  },
  "env": {
    "jasmine": true
  }
}
