{
  "extends": "airbnb-base",
  "globals": {
    "angular": 1
  },
  "rules": {
    "no-use-before-define": 0,
    "no-param-reassign": 0,
    "no-undef": 0,
    "no-underscore-dangle": 0,
    "func-names": 0,
    "max-len": 0,
    "indent": ["error", 2],
    "wrap-iife": ["error", "inside"],
    "quote-props": 0
  }
}
