@import "global";
@import "fonts";
@import "forms";
@import "loading-bar";

root {
  display: block;

  .loader {
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 24px;
    display: block;
    text-align: center;
    font-weight: 900;
  }
}

/**
 * contacts
 */

.contacts {

}
.contacts__empty {
  text-align: center;
  padding: 30px 0;
  font-size: 24px;
}
.contacts__empty .material-icons {
  position: relative;
  top: 2px;
}

.contacts-list {
}

/**
 * contact-card
 */

.contact-card {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.contact-card__link {
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  overflow: hidden;
}
.contact-card__column {
  float: left;
}
.contact-card__column--name {
  width: 30%;
}
.contact-card__pill {
  opacity: 0.4;
  display: inline-block;
  font-size: 12px;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 2px 5px 1px;
  font-weight: 500;
  margin-left: 10px;
  color: #fff;
}
.contact-card__column .contact-card__pill {
  opacity: 1
}
.contact-card__pill a {
  color: #fff;
}
.contact-card__pill--friends {
  background: #008FED;
}
.contact-card__pill--family {
  background: #FF387E;
}
.contact-card__pill--acquaintances {
  background: #B5D158;
}
.contact-card__pill--following {
  background: #DB5A3D;
}
